- name: update apt cache
  ansible.builtin.apt:
    update_cache: yes

- name: install haproxy
  ansible.builtin.apt:
    name: haproxy
    state: present

- name: deploy haproxy config
  ansible.builtin.template:
    src: haproxy.cfg.j2
    dest: /etc/haproxy/haproxy.cfg
    mode: '0644'
  notify: restart haproxy

- name: ensure haproxy is enabled (legacy support)
  ansible.builtin.lineinfile:
    path: /etc/default/haproxy
    regexp: "^ENABLED="
    line: "ENABLED=1"
  notify: restart haproxy

- name: enable and start haproxy
  ansible.builtin.service:
    name: haproxy
    enabled: yes
    state: started
 
